<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
  <head>
    <!--suppress HtmlUnknownTag -->
    <div th:replace="~{fragments/head :: head}"></div>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}" />
    <script th:src="@{/javascript/cadastro.js}" defer></script>
    <title>Cadastro</title>
  </head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
      <form action="cadastro.html" method="post" th:object="${usuario}">
        <div class="info" th:if="${param.success}">Cadastro efetuado com sucesso</div>
        <div class="aviso" th:if="${param.exists}">Usuário já existe</div>
        <label>Nome completo: <input type="text" name="nome" required /></label>
        <label>Matrícula: <input type="number" name="matricula" required /></label>
        <label>E-mail: <input type="email" name="email" required /></label>
        <div class="aviso" th:if="${param.mismatch}">Senhas não coincidem</div>
        <label>Senha: <input type="password" name="senha" required /></label>
        <label>Confirmar senha: <input type="password" name="confirmarSenha" required /></label>
        <button type="button" id="btn-enviar">Enviar</button>
        <button type="submit" id="btn-enviar-verdadeiro" style="display: none"></button>
      </form>
    </main>
    <footer th:replace="~{fragments/licenseFooter :: footer}"></footer>
  </body>
</html>
