<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
  <head>
    <!--suppress HtmlUnknownTag -->
    <div th:replace="~{/fragments/head :: head}"></div>
    <link rel="stylesheet" th:href="@{/css/editor.css}" />
    <title>Editor</title>
  </head>
  <body>
    <header th:insert="~{fragments/header :: header}"></header>
    <aside id="diagramas">
      <section id="UML">
        <h2>UML</h2>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDA" title="Diagrama de Atividades"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DCU" title="Diagrama de Caso de Uso"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DCL" title="Diagrama de Classes"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DCM" title="Diagrama de Comunicação"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DCP" title="Diagrama de Componentes"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DEC" title="Diagrama de Estrutura Composta"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDI" title="Diagrama de Implantação"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DVI" title="Diagrama de Visão Geral da Interação"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDO" title="Diagrama de Objetos"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDP" title="Diagrama de Pacotes"
        /></label>
        <label
          ><span class="traco"></span><input type="checkbox" value="DPF" title="Diagrama de Perfil"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DTE" title="Diagrama de Transição de Estados"
        /></label>
        <label
          ><span class="traco"></span><input type="checkbox" value="DDT" title="Diagrama de Tempo"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDS" title="Diagrama de Sequência"
        /></label>
      </section>
      <section id="banco-de-dados">
        <h2>BANCO DE DADOS</h2>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DER" title="Diagrama de Entidade Relacionamento"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DRL" title="Descrição Relacional"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="MER" title="Modelo Entidade Relacionamento"
        /></label>
        <label
          ><span class="traco"></span
          ><input type="checkbox" value="DDD" title="Dicionário de Dados"
        /></label>
        <label
          ><span class="traco"></span><input type="checkbox" value="FLX" title="Fluxograma"
        /></label>
        <label
          ><span class="traco"></span><input type="checkbox" value="ORG" title="Organograma"
        /></label>
      </section>
    </aside>
    <main></main>
  </body>
</html>
