<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
  <head>
    <!--suppress HtmlUnknownTag -->
    <div th:replace="~{fragments/head :: head}"></div>
    <title th:text="${'Erro ' + status}"></title>
  </head>
  <body>
    <header>
      <h1 th:text="${'Erro ' + status + ': ' + error}"></h1>
    </header>
    <main>
      Ocorreu um erro inesperado...
      <button type="button"><a href="index.html">HOME</a></button>
    </main>
  </body>
</html>
