<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'Erro ' + status}"></title>
    <style th:text="${paleta}"></style>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{icons/favicon.svg}" type="image/x-icon">
</head>
<body>
    <header>
        <h1 th:text="${'Erro ' + status + ': ' + error}"></h1>
    </header>
    <main>
        Ocorreu um erro inesperado...
        <button type="button"><a href="index.html">HOME</a></button>
    </main>
</body>
</html>