<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heber-Modelo</title>
    <style th:text="${paleta}"></style>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header th:utext="${programa}"></header>
    <main>
        <button><a>MODO SOLO</a></button>
        <button><a>MODO CONJUNTO</a></button>
        <button><a>MODO AVALIAÇÃO</a></button>
    </main>
    <footer>Licença MIT &copy; Heber Ferreira Barra; João Gabriel de Cristo; Matheus Jun Alves Matuda.</footer>
</body>
</html>