.elemento-conexao-reta {
  background-color: transparent;
  border: transparent;
  pointer-events: none;

  .parte-vertical {
    background-color: var(--cor-borda);
    width: 0.1rem;
  }

  .parte-horizontal {
    background-color: var(--cor-borda);
    height: 0.1rem;
  }

  &:hover {
    background-color: transparent;
  }
}
