.elemento-entidade-relacional {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;

  &:hover,
  &.selected {
    div.nome,
    div.atributo {
      border-color: var(--cor-borda-componente-selecionado);
    }
  }

  div.nome {
    background-color: var(--cor-botao);
    border-bottom: var(--cor-borda) solid 0.2rem;
    color: var(--cor-fundo);
    height: fit-content;
    padding: 0.3rem;
    text-align: center;
    width: 100%;
  }

  div.atributo {
    border-bottom: var(--cor-borda) solid 0.1rem;
    display: grid;
    grid-template-columns: 10% 0.3rem calc(90% - 0.3rem);
    padding: 0.3rem;
    width: 100%;

    span.chave {
      pointer-events: none;
      grid-column: 1;
    }

    span.texto {
      grid-column: 3;
    }
  }

  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100% + 0.5rem);
    right: 0;
    width: 2rem;
    height: 2rem;
  }
}
