form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  label {
    min-width: 80%;
  }

  input {
    width: 33.875rem;
    height: 4.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-width:0.09375rem;
    padding: 1rem;
    font-size: 1rem;
  }

  a {
    display: block;
    color: var(--cor-fonte);
    font-size: 1rem;
    margin-top: 0.5rem;

    &:hover{
      font-weight: bold;
    }
  }

  button#continuar {
    width: 33.875rem;
    height: 4.5rem;
  }

  span, #cadastro {
    display: inline-block;
  }
}


div {
  flex-align: flex-end;
}