@use "estiloTracinho";

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 60%;

  h2,
  h3 {
    text-align: center;
  }

  label:has(input[type="text"]),
  label:has(input[type="email"]) {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;

    input {
      grid-column: 2;
      width: 100%;
      border: var(--cor-borda) solid 0.1rem;
      border-radius: 0.8rem;
    }
  }

  div.diagramas {
    align-self: center;
    display: grid;
    width: 75%;
    grid-template-columns: 55% 5% 40%;
    row-gap: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--cor-borda) solid 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;

    label {
      max-width: 5rem;
    }

    &#diagramas-uml {
      align-self: center;
      grid-column: span 4;

      div.checkbox-group {
        display: grid;
        grid-template-columns: repeat(7, 13%);
        column-gap: 0.5rem;
        padding: 0 0.5rem;
      }
    }

    &#diagramas-banco {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      grid-column: 1;

      div.checkbox-group {
        width: calc(100% - 10rem);
        display: grid;
        grid-template-columns: repeat(2, 50%);
      }
    }

    &#diagramas-outros {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 3;

      div.checkbox-group {
        display: flex;
        flex-direction: column;
        width: calc(100% - 10rem);
      }
    }

    div.checkbox-group {
      width: 100%;
    }
  }

  div.botoes {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    width: 70%;
  }
}
